@{
    ViewBag.Title = "About";
}
<h2>About Planetsino</h2>
<p><img src="~/Images/CosmosDB.png" style="width: 400px;" class="img-responsive" /></p>
<p>A sample app using <a href="https://azure.microsoft.com/en-us/services/cosmos-db">Azure Cosmos DB</a>.</p>
<p>Read more on <a href="https://www.how2code.info">my blog</a>.</p>
